.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  color: white !important;
}

.JoyLink-root, .JoyChip-label, .JoyChip-root{
  color: white !important;
}

.span{
  color: white !important;
}

.container, .main, .MuiTypography-root, .MuiPaper-root, .card, .MuiList-root, .MuiInputBase-root {
  color: white !important;
  background-color: black !important;
}

.MuiButtonBase-root{
  color: white !important;
}

.MuiButton-textPrimary{
  color: blue !important;
}

.playerWrapper {
  height: 75vh !important;
  /* position: 'relative';
  padding-top: '56.25%';
  background: '#000'; */
}

.reactPlayer {
  position: 'absolute';
  top: 0;
  left: 0;
}

.video-js {
  width: 100%;
  height: 100%;
}

/* .container {
  height: 100vh;
} */